/* HEADER */
header{
    background-color: black;
    z-index: inherit;
}
/* CONTACTS */
.contacts{
    padding-top: 150px;
}

.forma{
    border-radius: 60px;
    background-color: white;
    width: 280px;
    padding: 90px;
}
.title2{
    color: #000000de;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
}
p{
    color: #676767;
    font-size: 20px;
}

.title2 +p{
    margin-top: 10px;
}

p +.title2{
    margin-top: 50px;
}


/* MAP */
.map .title{
    margin-top: 70px;
    padding-top: 0;
    margin-bottom: 0px;
}
.map.container{
    margin-bottom: 0;
    padding-bottom: 0;
}


